// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	background-color: #28262b;
	padding-top: 60px;
}
h1, h2, label{
	color: #fff;
}
.modal-backdrop{
	display: none;
}

nav.navbar{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
    background-color: #f7f7f7;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.back-button{
	z-index: 2;
}


.sentMessage{
	margin-left: 20%;
}
.receivedMessage{
	margin-right: 20%;
}
.newMessagesButton{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content, .card-body{
	background-color: #28262b;
}

.conversation-form{
	position: fixed;
	bottom: 0;
	display: flex;
}
.fixed-input{
	width: 90%;
	.form-group{
		margin-bottom: 0;
	}
	&.btn{
		width: 70px;
		height: 80px;
		bottom: 0;
		position: absolute;
		right: 30px;
	}
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 17px !important;
}

@media only screen and (max-width: 420px){
	.fixed-input.btn{
		height: 68px;
	}
}